.all{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.chon{
    width: 95px;
    height: 35px;
    background-color: rgb(45, 49, 49);
    border-radius: 10px;
    color: aliceblue;
    box-sizing: border-box;
    font-size: 19px;
    font-weight: bold; /* Làm chữ đậm */
    display: flex;
    align-items: center;
    justify-content: center;
}

.chon:hover{
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    color: #000000;
}