.all{
    margin: 0;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-image: ();
    height: 690px;
}
